<div *ngIf="apiLoaded | async">
  <google-map [options]="options" width="100%" height="400px">
    <map-marker [position]="markerPosition" [options]="markerOptions"></map-marker>
  </google-map>
</div>
