.mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    z-index: 1000; 
  }

  .app-spacer {
    flex: 1 1 auto;
  }

  .span-title {
    text-align: center;
    width: 100%;
  }