.item-card {
    width: 450px;
  }

  .item-header-image {
    background-image: url('https://mysmart.app/wp-content/uploads/2020/09/smartapps_rentacar-app-icon-180x180.png');
    background-size: cover;
  }

  .image-item {
    height: 350px;
    object-fit: cover;
  }
