<app-toolbar title="Pagina de continut" [toolbarType]="'items'"></app-toolbar>
<div class="div-main">
  <div class="div-container">
    <div class="row">
      <app-item-preview class="column" [item]="item" *ngFor="let item of items"></app-item-preview>
    </div>
  </div>
</div>
