<div class="div-page">
  <mat-card class="card-login">
    <mat-card-title class="center-text">Welcome</mat-card-title>

    <mat-card-content>
      <form [formGroup]="loginForm" class="form-login">
        <mat-form-field appearance="fill">
          <mat-label>Enter your username</mat-label>
          <input matInput placeholder="username" formControlName="username" required>
          <mat-error *ngIf="loginForm.controls['username'].invalid">{{ getErrorMessage('username') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="loginForm.controls['password'].invalid">{{ getErrorMessage('password') }}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onLogin()">Login</button>

      </form>
    </mat-card-content>
  </mat-card>

</div>
